header h1 {
  font-family: 'Londrina Shadow', cursive;
  text-transform: uppercase;
}
header h1 span {
  font-size: 1.2em;
}
header img {
  max-width: 100%;
  height: auto;
}
.collection-item::after {
  clear: both;
  content: "";
  display: table;
}
.collection-header {
  font-size: 24px;
  font-weight: 300;
}
.collection.with-header .collection-item {
  padding-left: inherit;
  padding: 30px 10px;
  text-align: center;
}
.collection li:nth-child(even){
  background: #fbfbfb
}
.title-burger-name {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1rem;
  border-bottom: 1px dashed rgba(0,0,0,.25);
  padding-bottom: 10px;
}
.row-controls {
  display: block;
  text-align: center;
}

.row-controls a {
  margin-bottom: 5px;
}

.form-controls {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .title-burger-name {
    width: 49%;
    float: left;
    text-align: left;
    border-bottom: none;
    padding-right: 10px;
  }
  .row-controls {
    width: 51%;
    float: right;
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  .order-section {
    border-top: 1px solid #e0e0e0;
  }
}
